.menu {
   text-align: center;
   background-color: #f1f5f8;
}

.items {
    display: grid;

    
}

.menu_container {
   background-color: #f1f5f8;
   padding-bottom: 100px;
}

.menu hr {
    width: 7%;
    height: 3px;
    background-color: #c59d5f;
}

.menu h1 {
    font-weight:  bold;
    font-size: 36px;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu ul li {
    display: flex;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
    padding: .375rem .75rem;
    border-color: 10%;
    transition: all .3s linear;
    color: #c59d5f;
}

.menu ul li:hover {
    color: #ffffff;
    background-color: #c59d5f;
}


img {
    width: 220px;
    height: 140px;
    cursor: pointer;
    
}

.menu_img {
    border: 5px solid #c59d5f;
}

.menu_info {
    display: flex;
}

.title {
    display: flex;
    
}

